body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.subtract-nav {
  height: calc(100vh - 88px);
}

/* Style for the scrollbar track */
::-webkit-scrollbar {
  width: 0.6vw; /* Set the width of the scrollbar */
}

/* Style for the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #2c3539; /* Set the background color of the scrollbar handle */
  border-radius: 8px; /* Set the border-radius of the scrollbar handle */
}

::-webkit-scrollbar-track {
  background-color: #5555;
}

/* Style for the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #2c3539; /* Set the background color of the scrollbar handle on hover */
}

/* Style for the scrollbar track on hover */


@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg-image {
  background-image: url(./images/lifelinkBGdark.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  box-shadow: inset 10px 10px 40px #000;
  
}

.custom-dicetraybg-image {
  background-image: url(./images/DiceTraybackground.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  box-shadow: inset 10px 10px 40px #000;
  
}


.custom-commanderbg-image {
  background-image: url(./images/CommanderBG.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  box-shadow: inset 10px 10px 40px #000;
  
}

.custom-commanderbattlefield-image {
  background-image: url(./images/commanderBattleField.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  box-shadow: inset 10px 10px 40px #000;
  
}

.custom-playerBG-image {
  background-image: url(./images/PlayerBg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  box-shadow: inset 10px 10px 40px #000;
  
}

.custom-standardBG-image {
  background-image: url(./images/StandardBG.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  box-shadow: inset 10px 10px 40px #000;
  
}

.custom-size-225{
  font-size: 2.25rem
}

.custom-size-190{
  font-size: 1.9rem
}

.custom-size-title{
  font-size: 3.0rem
}
